* {
  font-family: 'Montserrat', sans-serif;
}

.bg-light {
  background-color: transparent !important;
}

.carousel-item {
  height: 700px;
}

.carousel-caption {
  bottom: 220px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption #para1 {
  width: 60%;
  margin: auto;
  font-size: 40px;
  line-height: 1.9;
}

.carousel-caption #para2 {
  font-size: 30px;
}

.carousel-caption a {
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
  border-radius: 10px;
}

.carousel-caption a:hover {
  color: rgb(0, 255, 98);
  font-size: 22px;
}

.navbar-nav a {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-nav a:hover {
  background-color: #f34079;
  border-radius: 10px;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.w-100 {
  height: 100vh;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 35px;
  line-height: 0.3;
  background: #fff;
}

/*menu*/
#ALaCarteMenu {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px 40px;
  background: rgb(245, 242, 242);
  min-height: 100vh;
  /* margin-bottom: 20px; */
}

.heading {
  background: rgb(245, 242, 242);
  color: #373333;
  margin-bottom: 30px;
  padding: 60px 0 30px 0;
  grid-column: 1/-1;
  text-align: center;
}

#home h1 {
  font-size: 40px;
  text-align: center;
}

#home h3 {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 5px;
}

.card {
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 10px 20px;
}

.card .card-img-top {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 15px 15px 0 0;
}

.card-body {
  padding: 10px 10px;
  display: grid;
  grid-template-rows: auto 0.5fr 0px;
  grid-row-gap: 15px;
}

.card-title {
  display: grid;
  grid-template-columns: auto auto;
}

.card-title h5 {
  font-weight: 700;
  font-size: 18px;
}

.price {
  text-align: right;
}

.card-title p {
  color: #6f6f6f;
  font-size: 18px;
  line-height: 25px;
  align-self: stretch;
}

/*about */
#about,
#contact {
  padding: 25px 0;
}
.title {
  text-align: center;
}
.about {
  margin-left: 50px;
  align-items: center ;
  overflow: hidden;
}
.about img {
  width: 500px;
  height: 500px;
  object-fit: fill;
  margin: auto;
}
.about p {
  margin-top: 70px;
}
/*contact*/
.contact {
  background-color: rgb(245, 242, 242);
}
.contact .leftContainer {
  width: min(650px);
  height: 700px;
  padding-right: 100px;
  padding-left: 100px;
  margin-left: 150px;
}
.contact.addressContainer {
  height: 100px;
  padding-top: 50px;
  padding-right: 100px;
}
.phNumContainer {
  height: 100px;
}
.openHrContainer {
  height: 400px;
}

#phoneNumber {
  margin-top: -25px;
  margin-left: 30px;
  font-size: 18px;
}

#callIcon {
  font-size: 25px;
}

.googleMapContainer {
  width: min(650px);
  height: 700px;
  margin-left: 150px;
}

.map {
  height: 100%;
  width: 100%;
}

.line1,
.line2 {
  font-size: 18px;
}

#addressLine1,
#city {
  padding-right: 10px;
}

#nostyle table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-shadow: none;
}

#nostyle tr:hover,
#nostyle tr:nth-child(even):hover {
  background-color: rgb(245, 242, 242);
}

#nostyle tr:nth-child(even) {
  background-color: rgb(245, 242, 242);
}


table {
  height: 100%;
  border-collapse: collapse;
  margin-left: 230px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 100px;
}

th,
td {
  text-align: left;
  padding: 10px;
}

th {
  height: 40px;
  font-size: 20px;
}

td {
  font-size: 18px;
}

tr:hover,
tr:nth-child(even):hover {
  background-color: var(--tr-hover-color);
}

tr:nth-child(even) {
  background-color: var(--tr-even-row);
}

#col1 {
  width: 800px;
}

#col2 {
  width: 150px;
}

@media screen and (max-width: 510px) {
  #ALaCarteMenu {
    min-height: 50vh;
    width: 510px;
  }

}
@media screen and (max-width: 820px) {
  
  .contact .googleMapContainer {
    margin-left: 30px;
  }
  .contact .leftContainer {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1024px) {
  
  .contact .googleMapContainer {
    margin-left: 10px;
    padding-left: 0px;
    width: 1000px;
  }
  .contact .leftContainer {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 100px;
  }
}
@media screen and (max-width: 1280px) {
  .contact .googleMapContainer {
    margin-left: 10px;
    padding-left: 0px;
    width: 1000px;
  }
  .contact .leftContainer {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 100px;
  }
}
@media only screen and (max-width: 2560px) {
  .navbar-nav {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
    /*background: rgba(0, 0, 0, 0.5);*/
  }

  .navbar-nav a:hover {
    background-color: #f34079;
  }

  .carousel-caption {
    bottom: 165px;
  }

  .carousel-caption h5 {
    font-size: 17px;
  }

  .carousel-caption a {
    padding: 10px 15px;
    font-size: 15px;
  }

}
